{% from 'components/admin_sidebar.html' import sidebar %} 

{% extends 'layouts/base.html' %}

{% block title %}
  Account
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" />
{% endblock %}

{% block contents %}
  <div id="admin-panel">
    {{ sidebar('account') }}
    <div id="admin-main">
        <h1>Account</h1>
        <div id="admin-main-contents">
          <div>
            <h2>Password</h2>
            <form action="{{ url_for('admin.proc_change_password') }}" method="post" autocomplete="off" id="change-password-form" class="form">
              <p class="form-message"></p>
              {{ form.csrf_token }}
              <div>
                {{ form.current_password.label(class='form-label') }}
                {{ form.current_password(class='form-input') }}
              </div>
              <div>
                {{ form.new_password.label(class='form-label') }}
                {{ form.new_password(class='form-input') }}
              </div>
              <div>
                {{ form.confirm_password.label(class='form-label') }}
                {{ form.confirm_password(class='form-input') }}
              </div>
              <div>
                {{ form.submit(class='form-button', style='width: max-content') }}
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='scripts/admin/change_password.js') }}"></script>
{% endblock %}