{% from 'components/admin_sidebar.html' import sidebar %}
{% from 'components/slot_modal.html' import slot_modal %}
{% from 'components/form_modal.html' import form_modal %}
{% from 'components/confirm_modal.html' import confirm_modal %}
{% from 'components/utils.html' import eval_year_lvl, eval_semester %}

{% import 'components/icons/edit.html' as edit_icon %}
{% import 'components/icons/delete.html' as delete_icon %}
{% import 'components/icons/receipt.html' as receipt_icon %}
{% import 'components/icons/cancel_bill.html' as cancel_bill_icon %}
{% import 'components/icons/add.html' as add_icon %}

{% extends 'layouts/base.html' %}

{% block title %}
{{ student.lastname }}, {{ student.firstname }} {{ student.middlename }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" />
{% endblock %}

{% block contents %}
<div id="admin-panel">
    {{ sidebar('students') }}
    <div id="admin-main">
        <h1>
            {{ student.lastname }}, {{ student.firstname }} {{ student.middlename }}
            <span>{{ student.student_id }}</span>
        </h1>
        <div id="admin-main-contents">
            <!-- <div id="action-buttons">
                <a href="#" class="modal-trigger" data-target="add-bill-modal" style="width: max-content">{{ receipt_icon }} Bill student</a>
            </div> -->
            <div class="data-tables">
                <div class="data-table-wrapper">
                    <h2>Student information</h2>
                    <table class="data-table" style="display: table;">
                        <tbody>
                            <tr>
                                <td>Entry date</td>
                                <td><b>{{ student.entry_date.strftime('%b %d, %Y @ %I:%M %p') }}</b></td>
                            </tr>
                            <tr>
                                <td>Student ID</td>
                                <td><b>{{ student.student_id }}</b></td>
                            </tr>
                            <tr>
                                <td>Last name</td>
                                <td><b>{{ student.lastname }}</b></td>
                            </tr>
                            <tr>
                                <td>First name</td>
                                <td><b>{{ student.firstname }}</b></td>
                            </tr>
                            <tr>
                                <td>Middle name</td>
                                <td><b>{{ student.middlename }}</b></td>
                            </tr>
                            <tr>
                                <td>Sex</td>
                                <td><b>{{ student.gender }}</b></td>
                            </tr>
                            <tr>
                                <td>Birthdate</td>
                                <td><b>{{ student.birthdate.strftime('%b %d, %Y') }}</b></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td><b>{{ student.address }}</b></td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td><b>{{ student.phone }}</b></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><b>{{ student.email or '-' }}</b></td>
                            </tr>
                            <br />
                            <tr>
                                <td>Program</td>
                                <td><b>{{ program.description }}</b></td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td><b>{{ student.type }}</b></td>
                            </tr>
                            <tr>
                                <td>Year level</td>
                                <td><b>{{ eval_year_lvl(student.year) }}</b></td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td><b>{{ student.status }}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="data-table-wrapper">
                    <h2>Billings</h2>
                    {% if student.bills|count == 0 %}
                    <p>No billings yet.</p>
                    {% else %}
                    <table class="data-table" id="subjects" style="display: block;">
                        <thead>
                            <th>Bill ID</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Latest Payment Date</th>
                            <th>Total Amount</th>
                            <th>Balance</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            {% for billing in student.bills %}
                            <tr>
                                <td>{{ billing.bill_id }}</td>
                                <td>{{ billing.entry_date.strftime('%b %d, %Y @ %I:%M %p') }}</td>
                                <td>
                                    <span class="data-table-badge 
                                    {%- if billing.status == 'pending' %} moderate
                                    {%- elif billing.status == 'incomplete' %} warning
                                    {%- elif billing.status == 'complete' %} ok
                                    {%- else %} failed
                                    {%- endif %}">
                                        {%- if billing.status == 'pending' %}PENDING
                                        {%- elif billing.status == 'incomplete' %}INCOMPLETE
                                        {%- else %}COMPLETE
                                        {%- endif -%}
                                    </span>
                                </td>
                                <td>{% if billing.last_payment_date %}{{ billing.last_payment_date.strftime('%b %d, %Y @
                                    %I:%M %p') }}{% else %}-{% endif %}</td>
                                <td>{{ billing.total_amount|apply_currency }}</td>
                                <td>{{ (billing.total_amount - billing.total_paid)|apply_currency }}</td>
                                <td>
                                    <div>
                                        <a href="#" class="modal-trigger" data-target="settle-bill-modal"
                                            data-entry="{{ billing.bill_id }}">
                                            {{ receipt_icon }}
                                        </a>
                                        <a href="#" class="modal-trigger" data-target="delete-bill-modal"
                                            data-entry="{{ billing.bill_id }}">
                                            {{ delete_icon }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{{ slot_modal('View bill', 'settle-bill-modal', '
<table id="student-info">
    <tbody>
        <tr>
            <td>Student ID</td>
            <td id="student-id">{{ student.student_id }}</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td id="student-name">{{ student.lastname }}, {{ student.firstname }} {{ student.middlename }}</td>
        </tr>
        <tr>
            <td>Program</td>
            <td id="student-program">{{ program }}</td>
        </tr>
        <tr>
            <td>Year</td>
            <td id="student-year">{{ eval_year_lvl(student.year) }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td id="student-status">{{ student.status }}</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td id="student-semester">{{ semester.year_start }}-{{ semester.year_end }} ({{
                eval_semester(semester.semester) }} semester)</td>
        </tr>
    </tbody>
</table>
<table class="data-table" id="fees-table">
    <thead>
        <th>Description</th>
        <th>Amount</th>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td style="text-align: right">Total:</td>
            <td id="bills-total" style="text-align: right"></td>
        </tr>
    </tfoot>
</table>
<h3>Payments</h3>
<p id="payments-message" style="text-align: center;">No payments yet.</p>
<table class="data-table" id="payments-table" style="display: none;">
    <thead>
        <th>Timestamp</th>
        <th>Amount</th>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td style="text-align: right">Total Paid:</td>
            <td id="total-paid" style="text-align: right; color: rgb(0, 59, 0);"></td>
        </tr>
        <tr>
            <td style="text-align: right">Balance:</td>
            <td id="bills-balance" style="text-align: right; color: rgb(129, 0, 0);"></td>
        </tr>
    </tfoot>
</table>
<input type="button" class="modal-trigger" data-target="pay-bill-modal" value="Settle" id="settle-bill" />',
{
'student': student,
'program': program.description,
'eval_year_lvl': eval_year_lvl,
'eval_semester': eval_semester,
'semester': semester
})
}}
{{ form_modal('Settle bill', 'pay-bill-modal', settle_form) }}
{{ confirm_modal('Confirm', 'delete-bill-modal', 'Are you sure to delete this bill?') }}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/utils/modal.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/admin/bills.js') }}"></script>
<script>
    new ConfirmModal('delete-bill-modal', async () => {
        let response = await fetch('/admin/delete_bill', {
            method: 'POST',
            body: JSON.stringify({
                entry_id: document.querySelector('#delete-bill-modal [name="entry_id"]').value
            })
        });

        let result = await response.json();

        if (result.success) {
            return ['Bill deleted.', true]
        }

        return ['Cannot delete.', false]
    })
</script>
{% endblock %}