{% from 'components/student_sidebar.html' import sidebar %}
{% from 'components/confirm_modal.html' import confirm_modal %}

{% extends 'layouts/base.html' %}

{% import 'components/icons/receipt.html' as receipt_icon %}
{% import 'components/icons/book.html' as book_icon %}
{% import 'components/icons/message.html' as message_icon %}
{% import 'components/icons/delete.html' as delete_icon %}

{% block title %}Student Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" />
{% endblock %}

{% block contents %}
<div id="student-panel">
    {{ sidebar('account') }}
    <div id="student-main">
        <div class="dashboard-header">
            <h1>Inbox</h1>
            <a href="{{ url_for('student.inbox') }}" class="dashboard-inbox-button">
                {{ message_icon }}
                {% if message_count != 0 %}
                <span class="dashboard-inbox-badge">{{ message_count }}</span>
                {% endif %}
            </a>
        </div>
        <div id="action-buttons">
            <a href="#" id="delete-message" class="modal-trigger" data-target="delete-message-modal" style="width: max-content; pointer-events: none;">{{ delete_icon }}</a>
        </div>
        <div id="student-main-contents">
            {% if messages|count != 0 %}
            <table class="data-table" id="inbox-messages-table">
                <thead>
                    <th style="width: auto">
                        <input type="checkbox" class="table-check-all" />
                    </th>
                    <th>Sender</th>
                    <th>Message</th>
                    <th>Date sent</th>
                </thead>
                <tbody>
                    {% for message in messages %}
                    <tr style="cursor: pointer" {% if not message.read %}class="unread"{% endif %}>
                        <td>
                            <input type="checkbox" class="table-check-this" data-target="{{message.id}}" />
                        </td>
                        <td>
                            {{ message.sender }}
                        </td>
                        <td>
                            {{ message.message|truncate(50, true, '...', 0) }}
                        </td>
                        <td>
                            {{ message.sent_date.strftime('%b %d, %Y @ %I:%M %p') }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h2>No messages</h2>
            {% endif %}
        </div>
    </div>
</div>
{{ confirm_modal('Confirm', 'delete-message-modal', 'Delete selected messages?') }}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/utils/modal.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/student/messages.js') }}"></script>
{% endblock %}